@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
/* .banner{
    height: 100vh;
    background-image: linear-gradient(rgba(238, 245, 255,1),rgba(238, 245, 255,1)),url(images/hire1.png);
    background-position: center;
    color:#18004c;
    width:100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 75px 0px 0px;
    
}
.banner h1{
    letter-spacing: 6px;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0,0,0,0.5);
    font-family: 'Signika Negative', sans-serif;
} */
#banner{
	background-color: #eef5ff;
	padding-top:2%;
}
#banner img{
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#features{
    padding: 60px 30px;
    background-color: #eef5ff;
}
#features .title {
    height: 40rem;
    text-align: left;
    margin: 0px 20px;
    padding-top: 100px;
    background-size: cover;
    -webkit-background-size: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color:whitesmoke;
    border-radius: 20px;
    font-family: 'Signika Negative', sans-serif;
}
#features .title h2 {
    margin-bottom: 0.813rem;
    
}
.features_middle h2{
    color:#18004c;
}
.margin_top_up {
    margin-top: -23rem;
}

.single_feature {
    background: #eef5ff;
    margin-top: 1rem;
    padding: 2.5rem 2.5rem 2.438rem 3.125rem;
    position: relative;
    border-radius: 1.563rem;
    -webkit-box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    -webkit-transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -ms-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in;
    font-family: 'Signika Negative', sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
} 

.feature_icon {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 3px;
    color: white;
    font-size: 23px;
    border-bottom-left-radius: 25px;
    background:linear-gradient(to top, #bad7f5 0%, #18004c 100%);
}
svg:not(:root).svg-inline--fa {
    overflow: visible;
}
.svg-inline--fa.fa-w-12 {
    width: .75em;
}
.svg-inline--fa {
    display: inline-block;
    height: 1em;
    overflow: visible;
    vertical-align: -.125em;
}
.single_feature:hover {
    color:#fff; 
    background:linear-gradient(to top, #bad7f5 0%, #18004c 100%);
}
#team{
    background-color: #eef5ff;
}
.counter{
    margin:0px 6% 50px;
    padding-top:40px;
    background-color: whitesmoke;
    border-radius: 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter h1{
    text-align: center;
    padding: 20px;
    color:#18004c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    font-weight: 900;
}
.counter-row{
    background-color:#eef5ff;
    padding:20px;
    margin: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.card .card-body .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .card-body .logo img{
    border-radius: 90px;
    border:5px solid #18004c; 
    height: 100px;
    width:100px;
    margin-bottom: 20px;
}
.team-single{
    background:#18004c;
}
.team-single:hover .side-two{
    transform:rotateY(0deg);
    border-radius: 5px;
}
.team-single:hover .side-one{
    transform: rotateY(180deg);
}
.content-area{
    transform:perspective(1000px);
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}
.side-one{
    position: relative;
    transform: rotateY(0deg);
    z-index:2;
    margin-bottom: 30px;
}
.side-two{
    position: absolute;
    top:0;
    left:0;
    background: whitesmoke;
    transform: rotateY(-180deg);
    z-index:2;
    width: 90%;
}
.side-one,.side-two{
    backface-visibility: hidden;
    transition:1s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
}
.side-one .card,.side-two .card{
    min-height: 250px;
    min-width: 100%;
}
.side-two .card a{
    font-size: 18px;
    color:#18004c;
}
.side-two .card h4{
    color:black;
    font-family: 'Signika Negative', sans-serif;
    font-size: 18px;
}
.side-two .card p{
    font-family: 'Signika Negative', sans-serif;
}
.single_feature .btn{
    box-shadow: none !important;
    margin:20px 0px;
    padding: 10px 30px;
    background-color:#18004c;
    color:white;
    border: 1px solid #fff;
    border-radius: 20px;
    font-family: 'Signika Negative', sans-serif;
}
.single_feature .btn:hover{
    box-shadow: none !important;
    margin:20px 0px;
    padding: 10px 30px;
    background-color:white;
    color:#18004c;
    border: 1px solid #bad7f5;
    border-radius: 20px;
    font-family: 'Signika Negative', sans-serif;
}