@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap');
.popup{
    background-color:#eef5ff !important;
    padding:10px 20px 50px;
}
.popup .modal-header,.modal-footer{
    border: none;
    margin: 5px;
}
.popup .modal-header .close{
    border:5px solid whitesmoke !important;
    color: white;
    background-color:#18004c;
    border-radius: 10px;
}
.popup .modal-header .close:hover{
    border:5px solid #18004c !important;
    color:#18004c;
    background-color: whitesmoke;
    border-radius: 10px;
}
.popup .modal-body input{
    border:5px solid whitesmoke;
    background: whitesmoke;
    color:#5c5b5b;
    border-radius:50px;
    padding: 1.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    font-family: 'Signika Negative', sans-serif;
}
.form-control:focus {
    outline: none;
}
.popup .modal-body input:hover{
    border:5px solid #18004c;
    background: #bad7f5;
    color:#5c5b5b;
}
.popup .modal-body input:active{
    border:5px solid #18004c;
    color:#5c5b5b;
}
.popup .modal-body label{
    color:#5c5b5b;
}
.popup .modal-body form .footer .btn{
border:5px solid whitesmoke !important;
color: white;
background-color:#18004c;
border-radius: 50px;
width:40%;
cursor: pointer;
padding:1em;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.popup .modal-body form .footer .btn:hover{
border:5px solid #18004c !important;
color:#18004c;
background-color: whitesmoke;
border-radius: 50px;
width:40%;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
}
.popup .modal-body .form{
    display: none;
    transform-origin: top;
    animation: animate .5s;
}
.popup .modal-body .form-active{
    display: flex;
}

.popup .modal-body .progressbar{
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin-bottom:60px;
    font-family: 'Signika Negative', sans-serif;
}
.popup .modal-body .progressbar::before{
    content:"";
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height:6px;
    width:100%;
    background-color: #bad7f5;
}
.progress{
    content:"";
    position: absolute;
    top:50%;
    height:3px !important;
    transform: translateY(-50%);
    background-color: #18004c !important;
    width:0%;
    transition: 0.3s;
}
.popup .modal-body .progressbar .progress-step{
    width:3.5rem;
    height:3.5rem;
    background-color: #bad7f5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.popup .modal-body .progressbar .progress-step::before{
    counter-increment: step;
    content:counter(step);
    position: absolute;
}
.popup .modal-body .progressbar .progress-step::after{
    content: attr(data-title);
    position: relative;
    top:calc(100% + 1rem);
    font-size: 1rem;
    color:#18004c;
    font-weight: bolder;
}
.popup .modal-body .progressbar .process-active{
    background-color: #18004c !important;
    color:#f3f3f3;
}

@keyframes animate{
    from{
        transform: scale(1,0);
        opacity:0;
    }
    to{
        transform: scale(1,1);
        opacity:1;
    }
}


